
vsphere_server_url = 
vsphere_datacenter = 
vsphere_cluster    = 
vsphere_datastore  = 
vsphere_network    = 
vsphere_template   = 

terraform_vsphere_username  = 
terraform_vsphere_password  = 
kubernetes_vsphere_username = 
kubernetes_vsphere_password = 

kubernetes_version          = "v1.15.9-rancher1-1"
management_url              = 
management_default_password = "admin"

// Management cluster settings
management_cluster_name = "Managment"
management_cluster_nodes = {
  k8s-mgmt-01 = {
    address   = "10.0.0.101"
    netmask   = "24"
    gateway   = "10.0.0.254"
    dns       = ["8.8.8.8", "8.8.4.4"]
    num_cpu   = 2
    mem       = 4096
    disk_size = 16
    role      = ["controlplane", "worker", "etcd"]
  }
  k8s-mgmt-02 = {
    address   = "10.0.0.102"
    netmask   = "24"
    gateway   = "10.0.0.254"
    dns       = ["8.8.8.8", "8.8.4.4"]
    num_cpu   = 2
    mem       = 4096
    disk_size = 16
    role      = ["controlplane", "worker", "etcd"]
  }
  k8s-mgmt-03 = {
    address   = "10.0.0.103"
    netmask   = "24"
    gateway   = "10.0.0.254"
    dns       = ["8.8.8.8", "8.8.4.4"]
    num_cpu   = 2
    mem       = 4096
    disk_size = 16
    role      = ["controlplane", "worker", "etcd"]
  }
}

// Application cluster settings
application_cluster_name = "App01"
application_cluster_nodes = {
  k8s-app01-01 = {
    address   = "10.0.0.105"
    netmask   = "24"
    gateway   = "10.0.0.254"
    dns       = ["8.8.8.8", "8.8.4.4"]
    num_cpu   = 2
    mem       = 4096
    disk_size = 16
    role      = ["controlplane", "worker", "etcd"]
  }
  k8s-app01-02 = {
    address   = "10.0.0.106"
    netmask   = "24"
    gateway   = "10.4.0.254"
    dns       = ["8.8.8.8", "8.8.4.4"]
    num_cpu   = 2
    mem       = 4096
    disk_size = 16
    role      = ["controlplane", "worker", "etcd"]
  }
  k8s-app01-03 = {
    address   = "10.0.0.107"
    netmask   = "24"
    gateway   = "10.0.0.254"
    dns       = ["8.8.8.8", "8.8.4.4"]
    num_cpu   = 2
    mem       = 4096
    disk_size = 16
    role      = ["controlplane", "worker", "etcd"]
  }
  k8s-app01-04 = {
    address   = "10.0.0.108"
    netmask   = "24"
    gateway   = "10.0.0.254"
    dns       = ["8.8.8.8", "8.8.4.4"]
    num_cpu   = 2
    mem       = 4096
    disk_size = 24
    role      = ["worker"]
  }
  k8s-app01-05 = {
    address   = "10.0.0.109"
    netmask   = "24"
    gateway   = "10.0.0.254"
    dns       = ["8.8.8.8", "8.8.4.4"]
    num_cpu   = 2
    mem       = 4096
    disk_size = 24
    role      = ["worker"]
  }
}


management_certificates = {
  cert = <<-EOT
        -----BEGIN CERTIFICATE-----
        
        -----END CERTIFICATE-----
        EOT
  key  = <<-EOT
        -----BEGIN PRIVATE KEY-----
        
                -----END PRIVATE KEY-----
        EOT
  ca   = <<-EOT
        -----BEGIN CERTIFICATE-----
        
        -----END CERTIFICATE-----
        EOT
}