#cloud-config

hostname: ${host}

rancher:

  resize_device: /dev/sda
  
  network:
    interfaces:
      eth0:
        address: ${address}/${netmask}
        gateway: ${gateway}
        mtu: 1500
        dhcp: false
    dns:
      nameservers:
        - ${dns1}
        - ${dns2}
        
ssh_authorized_keys:
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQD1l5F3rn/W2geke/p8UfDHd5qxO7+1aMkyt43LBGnYYn7rOSvizOM3FM3l0GhXB1EXgEB+NyLfhwIW+f08N2sSsnenps41wGIo5pSoDjJcRQWOXCFN8YVxCq5vVpZ9Xl9Yrf3MA10EnvbXE3O6iLpTdHgrV/zkY0KUnVUX0nV6elz5PxcWDtguY1+FkbfWoN5dLoIHny0qblijL7MiZgXhqwJ/zPL+yYLujGlMFbP2bhylCRq+TEX93pyijkrtbOiOpOwc8UUsjCH37gyPHX2JrpVT79z0xpjMfYlPsfqTjMPiGNIpsAQZS1epu9xlMZxVN2X/3OSq/Hb6dv08MqR1
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQD7hjlrQ4ConpUoHlvNZhpCJQ+DBgZxKVg4MgNBeK5YjCVRHS9yvg7QTX+iSaToJ3/s+fWYE+8ffkyyrVXUf6hl70vBD/K8ov/5c5uTxQK6a3rN0uku7iIMAQmJuDWeGtOge8mkBHYl/fLK3alMW4XhQCidvszedC2eoltzwxsrwsCt/efOViAwRGiTelrSGPRiTirGBdnlZjMpE0g4JQjUWHOHKrFXXYN2lpp/d762FMc+rSxc2vasi2/D62AS7QNHQxrY97XB8Y2Pt6zBOoJV2mAn9cJX9drfk+8C1XIk5ygSNMjqK3b51DvZx1ODaHW1ftRElIXpCUyFgvAPnolD
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCvsHx7rNkzeqwGFDkhsWKDkhG5CeSI7s4XrVq/Dx21AWmQq8+FeZYvcJfF4Qn3cnZYjzq0tnZY6nS3BJhhmCslErzGv5AJNs7FAsg3YmUBXIALOR+KwS0nvJf7wYFNLYpMz2Wt49G60h4G5y9dhKLKwwtmcwW8YD2T3AFhA4KoE9pUTCVRnupCyuiID/4dxYt3/4vc1Pgzfnay28LIU74kbpsIgIOiCKbgh9yjjG68cwGeJEtRv9XDor0SwJWQqhO85TRCxxe6m07r5l/zwKRg5x+V4yNh3cpXNL32w4lMzlm6xAcMvr8lalwHvB3rocULNyvvnbH2VjNmahYKpJAR
  - ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAQEAkydb1zeVq5VhgYl2SxGgpNsfxOnD08y2UQm15XKhEJBqge9GRINM3ZZPfBHVCLMVDc2xEWsHiRrqUKkfdpk6tj6ZmW1aJvXoP7KZMi7QLAyeKkm62sKVModL8wex5Gw5MiYcjuQ7zJojmQKIHYaA7d7rbswQN+VVqY6NJOY9ydmbrf0EPp+dvg2FkjeMX1FdTPUNXfPmWqH0dbTLR3RnqLaVcGjZm8HvaFGhdlzgQvVvrhRLJRlQVcvm/fGf4dFmdsPfhAlb14sEaHke+ERLVbhoZQAlP1ZrjGjs3x9FBeotEwh3jqWoNRCPsD5zEdocAll9LTapRNC4xfheHciXzw== 
  
